<!DOCTYPE HTML>
<html>

<head><title>Date and Time</title></head>

<body>
<p>Date and Time: </p>
<br><br>
<sl>
<li>The date is <big>{{ .TOD | formatDate}}</big></li>
<li>The date is <big>{{ .TOD | formatTime}}</big></li>
</sl>
</body>
</html>